<% include ../shared/header.ejs %>

<h1 class="modal-header"><%= title %></h1>
<div class="jumbotron row">
    <% for(var i=0; i<apples.length; i++) { %>
    <div class="align-content-md-start col-lg-4">
        <p><%= apples[i].model %> |
        <%= apples[i].color %> |
        <%= apples[i].usage %> |
        <%= apples[i].price %></p>
        <a href="/apples/edit/<%= apples[i]._id%>" class="btn btn-info col-md-2">Edit</a>
        <a href="/apples/delete/<%= apples[i]._id%>" class="btn btn-danger col-md-3" onclick="return confirm('Are you sure want to delete this phone from list?')"> Delete</a>
    </div>
<%}%>
</div>
<a href="../apples/addphone" class="btn btn-warning col-md-3">Add a new Phone here</a>
<% include ../shared/footer.ejs %>